@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Ysabeau SC', sans-serif;
    background-color: #F8F7F7;
}

/* Menu de la Pagina */

.menu__contenedor {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    min-height: 20vh;
    /* position: fixed; */
}

.menu__contenedor-enlaces .menu__enlaces-links {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
    margin-right: 20px;
}

.menu__contenedor-enlaces .menu__enlaces-links li a {
    color: #F4B52B;
    padding: 0 10px;
}

.menu__contenedor-enlaces .menu__enlaces-links li a:hover {
    color: #bd8611;
}

.menu__contenedor-enlaces {
    display: flex;
    align-items: center;
}

.menu__boton-buscar {
    display: flex;
    align-items: center;
}

.menu__boton-buscar input {
    width: 0;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    color: #000;
    outline: none;
    border-radius: 30px;
    transition: all 0.6s ease;
    flex-grow: 1;
    position: relative;
    top: 0;
    right: -18px;
}

.menu__boton-buscar .btn {
    margin-left: 10px;
    position: relative;
}

.menu__boton-buscar .btn button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: -18px;
    right: -10px;
    width: 40px;
    height: 40px;
    background-color: #F4B52B;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.menu__boton-buscar:hover input {
    width: 200px;
}

.menu__contenedor-enlaces input:focus {
    width: 200px;
    border: 2px solid #bd8611;
}

.menu__contenedor-enlaces .cart-shopping  {
    margin-left: 20px;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.menu__contenedor-enlaces .cart-shopping i {
    color: #F4B52B;
}

.cart-items {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.cart-items > .cart-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    background-color: #a22;
}
  
.cart-items.show {
    display: block;
}
  
.cart-items table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 6px;
}
  
.cart-items th,
.cart-items td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
.cart-items th:first-child,
.cart-items td:first-child {
    width: 80px;
}
  
#cart-total-price {
    margin: 10px 0;
    font-weight: bold;
}
  
.cart-items button {
    width: 100px;
    height: 40px;
    background-color: #F4B52B;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
.menu__icono {
    padding: 10px;
}

.menu__contenedor-logo {
    display: flex;
    color: #F4B52B;
}

.menu__contenedor-logo .menu__logo-titulo {
    padding-top: 35px;
    padding-left: 10px;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu__contenedor-logo .menu__logo-negocio {
    max-width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

/* Informacion Producto */

.Producto__info {
    /* background-color: #f8f3f3; */
    margin: 10px 0px 10px 0px;
}

.Producto__info .category-select {
    text-align: center;
    width: 20%;
    height: 40px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    margin-left: 40%;
}

/* Cards de los Productos */

.productos {
  /* background-color: #F8F7F7; */
  padding: 10px 20px;
}

.Producto__titulo {
    font-size: 45px;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}

/* .Producto__descripcion {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
} */

.productos__ropa-card {
    display: flex;
    flex-wrap: wrap; /* Permite que las cards se envuelvan en múltiples filas */
    justify-content: center;
    gap: 20px;
    /* position: relative; */
}

.productos__ropa-cards {
    flex-basis: calc(20% - 20px); /* Establece el ancho de cada card en 20% menos el espacio entre ellas */
    max-width: 100%;
    height: 370px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 8px 6px rgba(0, 0, 0, .7);
    background-color: #fff;
    position: relative; /* Permite posicionar los elementos internos */
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    overflow: hidden;
}

.productos__ropa-cards span {
    position: absolute; /* Posiciona el span en relación al contenedor */
    top: 10px; /* Ajusta la posición vertical del span */
    left: 10px; /* Ajusta la posición horizontal del span */
    width: 110px;
    height: 30px;
    border-radius: 20px;
    padding: 6px;
    margin-left: 4px;
    background-color: #9c6d08;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .7);
    z-index: 1;
}

.productos__ropa-cards img {
    width: 100%;
    height: 220px;
    padding-bottom: 10px;
    object-fit: cover;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
}

.productos__ropa-cards img:hover {
    transform: scale(1.2);
}

.productos__ropa-cards .productos__ropa-titulo {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 4px;
}

.productos__ropa-cards .productos__ropa-precio {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.productos__ropa-cards .btnComprar {
    width: 100%;
    height: 30px;
    background-color: #F4B52B;
    border: none;
    color: #fff;
    cursor: pointer;
}

.productos__ropa-cards .btnComprar:hover {
    background-color: #bd8611;
}

/* footer de la pagina */

footer {
  background-color: #000;
  padding: 20px;
  min-height: 40vh;
  color: #bd8611;
}

.contenedor-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes-sociales {
  text-align: center;
}

.redes-sociales h2 {
  font-size: 25px;
  padding: 10px;
}

.redes-sociales a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px;
  margin-left: 10px;
  background-color: #d4960f;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.redes-sociales a:nth-child(2) {
  padding: 8px 12px;
}

.redes-sociales a:nth-child(4) {
  padding: 8px 9px;
}

.redes-sociales a:hover {
  background-color: #9c6d08;
}

.enlaces-importantes h2 {
  font-size: 25px;
  padding: 10px;
}

.enlaces-importantes a {
  font-size: 18px;
  line-height: 1.5;
  color: #f8f7f7;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.enlaces-importantes a:hover {
  text-decoration: underline;
}

.contacto h2 {
  font-size: 25px;
  padding: 10px;
}

.contacto p {
  font-size: 18px;
  line-height: 1.5;
  color: #f8f7f7;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.footer-final {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

span {
  width: 100%;
  height: 2px;
  background-color: #f8f7f7;
}

.titulo-final {
  text-align: center;
  line-height: 1.5;
  font-size: 25px;
}

@media screen and (max-width: 780px) {
  .menu__contenedor {
      min-height: 20vh;
      flex-direction: column;
  }

  .menu__contenedor-enlaces .menu__enlaces-links {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 5px;
      font-size: 20px;
      font-weight: 600;
  }

  .menu__contenedor-enlaces .menu__enlaces-links li a {
      padding-left: 2px;
  }

  .menu__boton-buscar input {
      width: 0px;
      height: 25px;
      font-size: 14px;
  }

  .menu__boton-buscar .btn {
      margin-left: 10px;
      position: relative;
  }

.menu__boton-buscar .btn button {
      top: -18px;
      right: -10px;
      width: 30px;
      height: 30px;
  }

  .menu__boton-buscar:hover input {
      width: 100px;
  }

  .menu__boton-buscar input:focus {
      width: 100px;
  }

  .menu__contenedor-enlaces .cart-shopping  {
       margin-left: 10px;
       font-size: 30px;
       border: none;
       background: none;
       cursor: pointer;
  }

  .menu__icono {
      padding: 5px;
      display: flex;
      justify-content: center;
  }
      
  .menu__contenedor-logo .menu__logo-titulo {
      padding: 20px;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  
  .menu__contenedor-logo .menu__logo-negocio {
      max-width: 100%;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
  }

  .Producto__info {
      margin-top: 20px;
      padding: 20px;
      /* background-color: #f8f7f7; */
  }
  
  .Producto__info-titulo {
      font-size: 30px;
  }
  
  .Producto__info-descripcion {
      font-size: 20px;
  }

  .productos__ropa-cards {
      flex-basis: 40%; /* Establece el ancho de cada card en 20% menos el espacio entre ellas */
      max-width: 100%;
      height: 380px;
      padding: 10px;
      margin: 10px;
      box-shadow: 2px 8px 6px rgba(0, 0, 0, .7);
      background-color: #fff;
      position: relative; /* Permite posicionar los elementos internos */
  }

  .productos__ropa-cards img {
      width: 100%;
      height: 200px;
      padding-bottom: 10px;
      /* object-fit: cover; */
  }

  .contenedor-footer {
      flex-direction: column;
      text-align: center;
  }

  .redes-sociales h2 {
      font-size: 20px;
  }

  .redes-sociales a {
      width: 30px;
      height: 30px;
      font-size: 20px;
  }
  
  .redes-sociales a:nth-child(2) {
      padding: 6px 4px;
  }
  
  .redes-sociales a:nth-child(3) {
      padding: 6px 4px;
  }

  .redes-sociales a:nth-child(4) {
      padding: 6px;
  }

  .redes-sociales a:nth-child(5) {
      padding-bottom: 8px;
  }
  
  .enlaces-importantes h2 {
      font-size: 20px;
  }

  .enlaces-importantes a {
      font-size: 15px;
  }

  .contacto h2 {
      font-size: 20px;
  }

  .contacto p {
      font-size: 15px;
  }

  .titulo-final {
      font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
    .menu__contenedor {
        min-height: 10vh;
        flex-direction: column;
    }

    .menu__contenedor-enlaces .menu__enlaces-links {
        display: flex;
        justify-content: center;
        flex-basis: 20%;
        text-align: center;
        padding: 0px;
        margin-right: 0;
        font-size: 14px;
        font-weight: 600;
    }

    .menu__boton-buscar input {
        width: 0px;
        height: 20px;
        font-size: 12px;
        display: none;
    }

    .menu__boton-buscar .btn {
        margin-left: 10px;
        position: relative;
    }
  
    .menu__boton-buscar .btn button {
        top: -14px;
        right: -10px;
        width: 30px;
        height: 30px;
        display: none;
    }

    .menu__contenedor-enlaces .cart-shopping {
        margin-left: 0;
        font-size: 20px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .cart-items {
        bottom: 10px;
        right: 10px;
        padding: 4px;
        margin: 10px;
    }
    
    .cart-items th,
    .cart-items td {
        padding: 5px;
        font-size: 12px;
    }
    
    .cart-items th:first-child,
    .cart-items td:first-child {
        width: 60px;
    }
    
    .cart-items button {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .menu__icono {
        padding: 3px;
        display: flex;
        justify-content: center;
    }

    .menu__contenedor-logo .menu__logo-titulo {
        padding: 8px;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .menu__contenedor-logo .menu__logo-negocio {
        max-width: 100%;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .Producto__info {
        /* background-color: #f8f3f3; */
        margin: 5px 0px 5px 0px;
    }

    .Producto__titulo {
        font-size: 30px;
    }
    
    .Producto__info .category-select {
        width: 50%;
        height: 30px;
        font-size: 14px;
        margin-left: 25%;
    }

    .productos__ropa-cards {
        height: 370px;
    }

    .productos__ropa-cards img {
        width: 100%;
        height: 200px;
        padding-bottom: 5px;
        /* object-fit: cover; */
    }

    .productos__ropa-cards .productos__ropa-titulo {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 4px;
    }
    .productos__ropa-cards .productos__ropa-precio {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 10px;
    }    

    .contenedor-footer {
        flex-direction: column;
        text-align: center;
    }

    .redes-sociales h2 {
        font-size: 16px;
    }

    .redes-sociales a {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }

    .redes-sociales a:nth-child(2) {
        padding: 4px 3px;
    }

    .redes-sociales a:nth-child(3) {
        padding: 3px 0px;
    }

    .redes-sociales a:nth-child(4) {
        padding: 2px;
    }

    .redes-sociales a:nth-child(5) {
        padding-bottom: 6px;
        padding: 2px;
    }

    .enlaces-importantes h2 {
        font-size: 16px;
    }

    .enlaces-importantes a {
        font-size: 12px;
    }

    .contacto h2 {
        font-size: 16px;
    }

    .contacto p {
        font-size: 12px;
    }

    .titulo-final {
        font-size: 16px;
    }
}